.ui-water-corporation, 
.job-openings{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ui-water-corporation{
    font-size: 2rem;
}

.rectangle-20{
    padding: 1rem 3rem;
}

.rectangle-21 {
    padding: .2rem;
    border-radius: 3px;
    font-family: inherit;
    border: 1px solid black;
    padding-left: .6rem;
    width: 9rem;
}

.sales-representative,
.clerk-officer{
    font-size: 1.5rem;
    display: block;
    margin-top: 2rem;
}

img{
    font-size: 1rem;
}

.briefcase-1-1, 
.briefcase-1-2{
    width: 2rem;
    margin-right: 1.3rem;
}


.flex-container-2,
.flex-container-4 {
    display: flex;
}

.apply {
    color: white;
    padding: .3rem .8rem;
    background-color: rgb(11, 104, 39);
    border-radius: 5px;
    display: block;
    margin: 1rem 0;
    width: max-content;
    cursor: pointer;
}

.flex-container-6{
    display: flex;
    justify-content: end;
}

.cat-absolute-container-3{
    cursor: pointer;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    padding: .4rem 1rem;
    border-radius: 5px;
    background-color: rgb(59, 112, 159);
}

.cat-absolute-container-3 img {
    width: 2rem;
}